body, html, p, div {
	font-family: sans-serif;
	font-size: 1em;
}

canvas {
	border:1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}

#background {
	z-index: 1;
}

#ground {
	z-index: 2;
}

#player {
	z-index: 3;
}

#controls {
	z-index: 4;
}

#message {
	position: absolute;
	top: 500px;
	left: 0px;
	padding: 2px;
	width: 796px;
	height: 30px;
	background: #cccccc;
	border: 2px solid black;
}