body, canvas, div {
    margin: 0;
	background: #ffffff;

	text-align: center;
/*	font-size: 30px; */
	font-family: 'Arial', sans-serif;
	color: #000000;
}

#startFullscreen {
	position: absolute;
	z-index: 3;
}
.kekeText {
	text-align: center;
	font-size: 5em;
	font-family: 'Sue Ellen Francisco' cursive; 
	color: #000000;
/*	padding: -50px; */
	margin: 0;
	
	position: absolute;
	top: 0px;
	width: 100%;
}

.gameText1 {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Waiting for the Sunrise';
/*	font-family: 'Sue Ellen Francisco' cursive; */
/*	font-family: 'Smythe' cursive; */
	color: #000000;
	margin: 0;
	
	position: absolute;
	top: 115px;
	width: 100%;
}

.gameText2 {
	text-align: center;
	font-size: 2.5em;
	font-family: 'Smythe' cursive;
	color: #505050;
	margin: 0;
	
	position: absolute;
	top: 150px;
	width: 100%;
}

#loading {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;

	position: absolute;
	z-index: 2;

	/*	padding: 20px;*/

	background: #ffffff url("../images/loading_white.gif") no-repeat center;
	background-size: 75px;
}

#gameContainer {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;

	background: #ffffff;
	
	position: absolute;
	z-index: 1;
}
#orientationMessage {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	
	position: absolute;
	z-index: 2;
	
	background: #ffffff url("../images/reorient_message_v.gif") no-repeat center;
	background-size: contain;

	display: none;
}
#ovalMask {
	width: 100%;
	height: 100%;

	position: absolute;
	z-index: 3;

	background: url("../images/oval_mask.png") no-repeat center;
	background-size: cover;
}
